<div>
    <!--<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">-->
    <input class="form-control" type="text" name="show" value="<%= @ask.question %>">

    <!--<a href="/ask"><input class="btn btn-success" type="submit" value="목록으로"></a>-->
    <a href="/ask" class="btn btn-success"> 목록으로 </a>
    
    
</div>


<!--<nav aria-label="breadcrumb">-->
<!--  <ol class="breadcrumb">-->
<!--    <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--    <li class="breadcrumb-item active" aria-current="page">Library</li>-->
<!--  </ol>-->
<!--</nav>-->